<!DOCTYPE html>
<html>
<head>
    <title>Registration Verification</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <center>
    <div class="container">
        <h2>Verify Your Email</h2>
        <form action="/verify-registration-otp" method="post">
            <input type="hidden" name="email" value="${email}">
            <br>
            <input type="text" name="otp" placeholder="Enter OTP sent to your email" required>
            <br>
            <button type="submit">Verify</button>
        </form>
        <p th:text="${message}"></p>
    </div>
</center>
</body>
</html>
